<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IdentityServiceValidateTokenUrl" value="v3/api/auth/validateToken" />
		<add key="IdentityServiceIdentifyUrl" value="v3/api/Identify" />
		<add key="IdentityServiceGetOtpUrl" value="api/colleagueaccesscode" />
		<add key="IdentityServiceOAuthUrl" value="v3/api/auth/oauth/v2/token" />
		<add key="numberOfParallelOperations" value="1" />
		<add key="GpgBinaryPath" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe" />
		<add key="GpgPassphrase" value="Hyundiscover@123" />
		<add key="GpgRecipient" value="jml.team@tesco.com" />
		<add key="FeedFileAbsolutePath" value="C:\Users\nkgv\Documents\KafkaTestFile\TestFile.txt" />
		<add key="FeedFileAbsolutePath1" value="C:\Users\nkgv\Documents\KafkaTestFile" />
		<add key="BaseUrl" value="https://localhost:44356/api/" />
	</appSettings>	
</configuration>